<!DOCTYPE html>
<html>
<head>
    <title>HR Dashboard</title>
</head>
<body>
    <h1>Welcome to the HR Dashboard</h1>
    <ul>
        <li><a href="{% url 'role_list' %}">Manage Roles</a></li>
        <li><a href="{% url 'criteria_list' %}">Manage Criteria</a></li>
        <li><a href="{% url 'linked_assessment_list' %}">Manage Linked Assessments</a></li>
    </ul>
    <div id="hr-interface"></div>
    <script src="{% static 'src/components/HRInterface.js' %}"></script>
    <script src="{% static 'src/hooks/useCriterion.js' %}"></script>
</body>
</html>
